.totalDineroCotizacion{
	
	color: blue;
	font-size: 20px !important;
	font-weight: bold;
}


.totalDineroCompra{
	
	color: purple;
	font-size: 35px !important;
	font-weight: bold;
	
}

.textoPequeno{
	font-size: 9 px;
}

.encabezadocampo{
	font-size: 12 px;
	font-weight: bold;
}

.callToAction {
	font-size: 14px !important;
	border: 1px solid black;
}

