<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>MetalesWeb</display-name>
 <context-param>
  <param-name>primefaces.THEME</param-name>
  <param-value>flick</param-value>
 </context-param>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.faces</url-pattern>
 </servlet-mapping>
 
 <session-config>
  <session-timeout>15</session-timeout>
 </session-config>
 
 <welcome-file-list>
  <welcome-file>index</welcome-file>
 </welcome-file-list>
 
 
 
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>index</web-resource-name>
   <url-pattern>/index</url-pattern>
   <url-pattern>/ui/template/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>admin</role-name>
   <role-name>cajero</role-name>
  </auth-constraint>
 </security-constraint>
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>cajero</web-resource-name>
   <url-pattern>/ui/cajero/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>cajero</role-name>
  </auth-constraint>
 </security-constraint>
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>admin</web-resource-name>
   <url-pattern>/ui/administracion/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>admin</role-name>
  </auth-constraint>
 </security-constraint>
 <login-config>
  <auth-method>FORM</auth-method>
  <form-login-config>
   <form-login-page>/public/login.faces</form-login-page>
   <form-error-page>/public/error.html</form-error-page>
  </form-login-config>
 </login-config>
 <security-role>
  <role-name>admin</role-name>
 </security-role>
 <security-role>
  <role-name>cajero</role-name>
 </security-role>
</web-app>
